* {
  --sidebar-width-sm: 224px;
  --sidebar-width-lg: 260px;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1s !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: auto;
}

.nav--pool-logo-container {
  width: 50px;
}

@screen xs {
  .nav--pool-logo-container {
    width: 80px;
  }
}

@screen sm {
  .nav--pool-logo-container {
    min-width: 154px;
  }
}

@screen lg {
  .nav-and-footer-container {
    max-width: 1400px;
  }
}

.top-side-nav {
  max-width: 234px;
}

@screen lg {
  .top-side-nav {
    max-width: 268px;
  }
}

.dark .bg-page-header {
  background: linear-gradient(#2d0b5a 90%, rgba(45, 11, 90, 0));
}

.light .bg-page-header {
  background: linear-gradient(#f7f7f7 90%, #f7f7f740 95%, #f7f7f700 98%, #f7f7f700 100%);
}

/* Sizes */

.w-fit-content {
  width: fit-content;
}

.h-fit-content {
  height: fit-content;
}

.h-inherit {
  height: inherit;
}

/* Page Layout */

.grid-page-wrapper {
  @apply text-inverse;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'grid-header-wrapper'
    'grid-content-with-footer';
}

.grid-header-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: 'grid-banner' 'grid-header';
  position: sticky;
  top: 0;
}

.desktop-content-wrapper {
  max-width: 1460px;
}

.grid-banner {
  grid-area: grid-banner;
}

.grid-content-with-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'grid-content'
    'grid-footer';
  grid-area: grid-content-with-footer;
}

.grid-header-wrapper {
  grid-area: grid-header-wrapper;
}

.grid-header {
  grid-area: grid-header;
}

.grid-header > div {
  max-width: 1460px;
}

.grid-footer {
  grid-area: grid-footer;
}

.grid-content {
  grid-area: grid-content;
}

@screen lg {
  .grid-content {
    max-width: 1060px;
  }
}

.grid-side-nav {
  grid-area: grid-side-nav;
}

.push-sidebar-padding {
  padding-left: var(--sidebar-width-sm);
}

@screen lg {
  .push-sidebar-padding {
    padding-left: var(--sidebar-width-lg);
  }
}

/* Scrollbar */

/* width */
.minimal-scrollbar::-webkit-scrollbar {
  @apply h-2 w-2;
}

/* Track */
.minimal-scrollbar::-webkit-scrollbar-track {
  @apply bg-white bg-opacity-20 dark:bg-white dark:bg-opacity-5 rounded-full;
}

/* Handle */
.minimal-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-white bg-opacity-100 hover:bg-opacity-50 dark:bg-white dark:bg-opacity-10 dark:hover:bg-opacity-20 transition filter blur-lg cursor-pointer;
}

/* Handle on hover */
.minimal-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply cursor-pointer;
}
