@charset 'UTF-8';

/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  @apply block absolute p-0 w-8 h-8 top-1/2;
  font-size: 0;
  line-height: 0;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  @apply absolute left-0 sm:left-20;
}
[dir='rtl'] .slick-prev {
  @apply absolute right-0 sm:right-20;
}

.slick-next {
  @apply absolute right-0 sm:right-20;
}
[dir='rtl'] .slick-next {
  @apply absolute left-0 sm:left-20;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  @apply space-x-2 absolute -bottom-8;
  display: block;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  cursor: pointer;
  position: relative;
  @apply w-2 h-2 rounded-full;
}
.slick-dots li button {
  @apply w-2 h-2 cursor-pointer bg-transparent outline-none text-transparent;
}

.slick-dots li:not(.slick-active) {
  display: inline-block;
  cursor: pointer;
  position: relative;
  background: #ffffff;
  opacity: 20%;
  @apply w-2 h-2 rounded-full;
}

.light .slick-dots li:not(.slick-active) {
  background: #000000;
}

.slick-dots li.slick-active {
  background: #ff77e1;
  opacity: 100%;
}
